CompileFlags:
  CompilationDatabase: build
Diagnostics:
  UnusedIncludes: Strict
Completion:
  AllScopes: yes
InlayHints:
  Enabled: Yes
  DeducedTypes: Yes
  ParameterNames: No
Hover:
  ShowAKA: yes
