[submodule "3rd_party/asio"]
	path = 3rd_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "3rd_party/googletest"]
	path = 3rd_party/googletest
	url = https://github.com/google/googletest
[submodule "3rd_party/nlohmannjson"]
	path = 3rd_party/nlohmannjson
	url = https://github.com/nlohmann/json
